* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col_4 {
    width: calc(100% / 3);
    float: left;

}

body {
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

header {
    margin-top: 50px;
    text-align: center;
}
h1 {
    color: #E53170;
    font-family: 'Fredoka One', cursive;
    
}

#site_main > div {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-family: 'Electrolize', sans-serif;
}


.container > p {
    text-align: center;
    margin-bottom: 2rem;
}


.row {
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
}


.card {
    background-color: black;
    box-shadow: 0px 0px 8px 2px #000000;
    width: 90%;
    font-size: 1rem; 
       
}

.card > img {
    max-width: 100%;
    width: 6rem;
    float: left;
    padding-right: 0.5rem;
}

.info {
    float:left;
    margin-top: 0.6rem;
    
}
.title, .work {
    color: white;
}
div > p {
    line-height: 1.5rem;
}
.title {
    font-size: 1rem;
}

.work {
    font-size: 1rem;
}

.mail {
    font-size: 1rem;
    color: #6ECBE6;
    ;
}
.center {
    margin:auto;
}

.right {
    float: right;
}